@inherits RoadkillLayoutPage<dynamic>
@using Roadkill.Core
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	@Html.Partial("HeadContent")
</head>

<body>
@Html.Action("PageToolbar", "Wiki", new { id = Model.Id }, true)
@RenderBody()
</body>
</html>