@inherits RoadkillViewPage<System.Web.Mvc.HandleErrorInfo>

@{
	if (Configuration.ApplicationSettings.Installed)
	{
		Layout = Configuration.SitePreferences.ThemePath + "/Theme.cshtml";
	}
}


<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
</head>
<body>
	<h2>
		Sorry, an error occurred while processing your request.
	</h2>

	@if (RoadkillContext.IsAdmin)
	{
	<p>@Model.Exception.Message</p>
	<pre>@Model.Exception.ToString()</pre>
	 }
</body>
</html>