<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
	</configSections>

	<connectionStrings>
		<add name="Roadkill" connectionString="Data Source=|DataDirectory|\roadkilltests.db;Version=3;" />
	</connectionStrings>

	<roadkill adminRoleName="Admin" 
			  attachmentsFolder="~/Attachments"
			  cacheEnabled="true" 
			  cacheText="true" 
			  connectionStringName="Roadkill"
			  databaseType="Sqlite" 
			  editorRoleName="Editor"
			  installed="true"
			  useWindowsAuthentication="false" />
</configuration>