<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
  </configSections>
  <connectionStrings>
    <!-- SQLite and SQL Server compact didn't play nicely with x64 NH3, so SQL Server it is for now. -->
    <add name="Roadkill" connectionString="server=.\SQLEXPRESS;database=roadkilltests;integrated security=SSPI;" />
    <!-- <add name="Roadkill" connectionString="Data Source=|DataDirectory|\roadkill.db;Version=3;" /> -->
  </connectionStrings>
  <roadkill adminRoleName="Admin" attachmentsFolder="~/Attachments" cacheEnabled="true" cacheText="true" connectionStringName="Roadkill" databaseType="SqlServer2008" editorRoleName="Editor" installed="true" useWindowsAuthentication="false" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>