<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
	</configSections>
	<roadkill adminRoleName="Admin" attachmentsFolder="~/Attachments" cacheEnabled="true" cacheText="true" connectionStringName="Roadkill" databaseType="SQLite" editorRoleName="Editor" installed="true" useWindowsAuthentication="false" />
	<connectionStrings>
		<add name="Roadkill" connectionString="Data Source=lib/roadkill.sqlite;" />
	</connectionStrings>
	<appSettings>
		<add key="UseSaucelabs" value="false"/>
		<add key="BaseUrl" value="http://roadkillselenium.dev"/>
		<add key="Saucelabs_Username" value=""/>
		<add key="Saucelabs_AccessKey" value=""/>
		<add key="TestAdmin_Email" value="admin@localhost"/>
		<add key="TestAdmin_Password" value="abc123"/>
		<add key="TestEditor_Email" value="editor@localhost"/>
		<add key="TestEditor_Password" value="abc123"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.0.12051" newVersion="2.6.0.12051" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebDriver" publicKeyToken="1c2bd1631853048f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.25.1.0" newVersion="2.25.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>