<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net40" />
  <package id="Fizzler" version="0.9.3" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.3.1.4000" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net40" />
  <package id="NHibernate" version="3.3.1.4000" targetFramework="net40" />
  <package id="NUnit" version="2.6.1" targetFramework="net40" />
  <package id="Plasma.WebDriver" version="1.1.0.5" targetFramework="net40" />
  <package id="Selenium.RC" version="2.25.1" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.25.1" targetFramework="net40" />
  <package id="SimpleBrowser" version="0.5.9" targetFramework="net40" />
  <package id="SimpleBrowser.WebDriver" version="0.5.6" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>