<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
	</configSections>
	<roadkill
		adminRoleName="Admin-test"
		attachmentsFolder="~/Attachments-test"
		connectionStringName="Roadkill-test"
		editorRoleName="Editor-test"
		installed="true"
		useWindowsAuthentication="false"/>
	<connectionStrings>
		<add name="Roadkill-test" connectionString="connectionstring-test" />
	</connectionStrings>
</configuration>