@model IEnumerable<PluginSummary>
@{ 
	ViewBag.Title = @SiteStrings.SiteSettings_Plugins_Title;
	ViewData["PluginSettingsActive"] = true;
}

@Html.Partial("SettingsMenu", ViewData)

<div class="more-plugins right">
	<a href="#">Get more plugins</a> (coming soon...)
</div>

<table class="table plugins">
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
@foreach (PluginSummary summary in Model)
{
	<tr>
		<td>@Html.ActionLink(summary.Name, "Edit", new { id = summary.Id})</td>
		<td>@Html.Raw(summary.Description)</td>
	</tr>
}
	</tbody>
</table>
<br style="clear:both;" />