<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- Appharbor.com settings - Appharbor will always use the Release configuration  -->
	<roadkill adminRoleName="Admin"
			  attachmentsFolder="~/App_Data/Attachments"
			  cacheEnabled="true"
			  cacheText="true"
			  connectionStringName="Roadkill"
			  databaseType="SqlServer2005"
			  editorRoleName="Editor"
			  installed="true"
			  ignoreSearchIndexErrors="true"
			  useWindowsAuthentication="false"
			  xdt:Transform="Replace" />

	<system.web>
		<customErrors mode="On" xdt:Transform="Replace"/>
	</system.web>

</configuration>