<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- Plasma settings for the CI server -->
	<roadkill adminRoleName="Admin"
			  attachmentsFolder="~/App_Data/Attachments"
			  cacheEnabled="false"
			  cacheText="false"
			  connectionStringName="Roadkill"
			  databaseType="SQLite"
			  editorRoleName="Editor"
			  installed="true"
			  ignoreSearchIndexErrors="true"
			  useWindowsAuthentication="false"
			  xdt:Transform="Replace" />

	<connectionStrings xdt:Transform="Replace">
		<add name="Roadkill" connectionString="Data Source=|DataDirectory|\roadkill.plasma.sqlite" />
	</connectionStrings>

	<system.web>
		<customErrors mode="Off" xdt:Transform="Replace"/>
	</system.web>

</configuration>