<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<roadkill 
		adminRoleName="Admin" 
		attachmentsFolder="~/Attachments"
		cacheEnabled="true" 
		cacheText="true" 
		connectionStringName="Roadkill"
		databaseType="SqlServer2005"
		editorRoleName="Editor"
		installed="false"
		userManagerType=""
		ignoreSearchIndexErrors="false"
		useWindowsAuthentication="false" />
	<connectionStrings>
	<add name="Roadkill" connectionString="database=roadkill;server=(local);uid=roadkill;pwd=Passw0rd" />
 </connectionStrings>
	<system.web>
		<anonymousIdentification enabled="true" />
		<authentication mode="Forms">
   <forms loginUrl="~/User/Login" />
  </authentication>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
				<add namespace="Roadkill.Core" />
			</namespaces>
		</pages>
		<httpRuntime requestValidationMode="2.0" />
		<customErrors mode="Off" />
	</system.web>

	<!-- ============  NHibernate ============ -->
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<!-- If you want to manually tweak NHibernate, uncomment this section. -->
			<!--
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
			<property name="connection.connection_string_name">ROADKILL</property>
			<property name="show_sql">false</property>
			<property name="generate_statistics">true</property>
			<property name="adonet.batch_size">100</property>
			<property name="use_proxy_validator">true</property>
			<property name="max_fetch_depth">2</property>
			<property name="cache.provider_class">NHibernate.Cache.HashtableCacheProvider</property>			
			<property name="cache.use_second_level_cache">true</property>
			<property name="cache.use_query_cache">true</property>
			 -->
		</session-factory>
	</hibernate-configuration>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.4000" newVersion="3.0.0.4000" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!-- Change these settings for signup and lost password emails -->
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="signup@roadkillwiki.org">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\temp\smtp" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>