<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
	</configSections>

  <roadkill adminRoleName="Admin" attachmentsFolder="~/Attachments"
    cacheEnabled="true" cacheText="true" connectionStringName="Roadkill"
    databaseType="SqlServer2005" editorRoleName="Editor" installed="true"
    useWindowsAuthentication="false" />
  <connectionStrings>
    <add name="Roadkill" connectionString="(replaced)" />
  </connectionStrings>

	<system.web>
		<anonymousIdentification enabled="true" />
		<authentication mode="Forms">
   <forms loginUrl="~/Home/Login" />
  </authentication>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>

				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
				<add namespace="Roadkill.Core" />
			</namespaces>
		</pages>
		<httpRuntime requestValidationMode="2.0" />
		<customErrors mode="RemoteOnly"/>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- Change these settings for signup and lost password emails -->
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="signup@roadkillwiki.org">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\temp\smtp"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>