<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
	</configSections>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>
				
				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
				<add namespace="Roadkill.Core" />	
			</namespaces>
		</pages>
		<sessionState timeout="720" />
		<customErrors mode="Off"/>
		<httpRuntime requestValidationMode="2.0" />

		<!-- ### CONFIGURATION FOR SQL SERVER/FORMS AUTHENTICATION ### -->
		<authentication mode="Forms">
			<forms loginUrl="~/Home/Login"/>
		</authentication>
		
		<membership>
			<providers>
				<remove name="AspNetSqlMembershipProvider" />
				<add name="AspNetSqlMembershipProvider"
					type="Roadkill.Core.RoadkillMembershipProvider, Roadkill.Core"
					connectionStringName="RoadKillProvider"
					minRequiredPasswordLength="6"
					minRequiredNonalphanumericCharacters="0"
					passwordStrengthRegularExpression="" />
			</providers>
		</membership>
		<roleManager enabled="true" />

		<!-- ### CONFIGURATION FOR ACTIVE DIRECTORY AUTHENTICATION ### -->
		<!-- 
		<membership>		
			<providers>
				<add name="AspNetActiveDirectoryMembershipProvider" 
							type="System.Web.Security.ActiveDirectoryMembershipProvider"
							connectionStringName="ActiveDirectory"
							/>
			</providers>	
		</membership>
		<roleManager enabled="true" defaultProvider="ActiveDirectoryRoleProvider">
			<providers>
				<clear/>
				<add name="ActiveDirectoryRoleProvider"
					type="Roadkill.Core.ActiveDirectoryRoleProvider,RoadKill.Core"
					connectionStringName="ActiveDirectory"/>
			</providers>
		</roleManager>
		-->
	</system.web>

	<roadkill connectionStringName="database=Roadkill;server=.\SQLEXPRESS;integrated security=SSPI;"
			  cacheEnabled="true"
			  cacheText="true"
			  adminRoleName="Admins"
			  editorRoleName="Editors"
			  attachmentsFolder="~/Attachments"
			  markupType="Creole"
			  installed="true"
			  theme="BlackBar" />

	<connectionStrings>
		<!-- SQL Express standalone for both the provider, and the roadkill database -->
		<add name="Roadkill" connectionString="database=Roadkill;server=.\SQLEXPRESS;integrated security=SSPI;"/>
		
		<!-- SQL Express user instance (app_data folder file)-->
		<!--
		<add name="Roadkill" connectionString="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|\roadkill.mdf;Integrated Security=True;User Instance=True"/>
		<add name="RoadKillProvider" connectionString="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|\roadkillaspnet.mdf;Integrated Security=True;User Instance=True"/>
		-->

		<!-- SQL Express standalone for the roadkill db, stand alone for the provider -->
		<!--
		<add name="Roadkill" connectionString="database=Roadkill;server=.\SQLEXPRESS;integrated security=SSPI;"/>
		<add name="RoadKillProvider" connectionString="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|\roadkillaspnet.mdf;Integrated Security=True;User Instance=True"/>
		-->
		
		<!-- Active directory -->
		<!--
		<add name="Roadkill" connectionString="database=Roadkill;server=.\SQLEXPRESS;integrated security=SSPI;"/>
		<add name="RoadKillProvider" connectionString="LDAP://DC=Domain,DC=com"/>
		-->
	</connectionStrings>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

