<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages"/>
				
				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
				<add namespace="Roadkill.Core" />	
			</namespaces>
		</pages>
		<sessionState timeout="720" /><!-- 12 hours -->
		<customErrors mode="Off"/>
		<httpRuntime requestValidationMode="2.0" />
		
		<!-- Remove if you want to use Windows authentication -->
		<authentication mode="Forms">
			<forms loginUrl="~/Home/Login"/>
		</authentication>
		
		<!-- Lower the default complexity required for user passwords-->
		<membership>
			<providers>
				<remove name="AspNetSqlMembershipProvider" />
				<add name="AspNetSqlMembershipProvider"
							type="Roadkill.Core.RoadkillMembershipProvider, Roadkill.Core"
							applicationName="roadkill"
							connectionStringName="LocalSqlServer"
							enablePasswordRetrieval="false"
							enablePasswordReset="true"
							requiresQuestionAndAnswer="true"
							requiresUniqueEmail="false"
							minRequiredPasswordLength="1"
							minRequiredNonalphanumericCharacters="0"
							passwordFormat="Hashed"
							maxInvalidPasswordAttempts="5"
							passwordAttemptWindow="10"
							passwordStrengthRegularExpression="" />
			</providers>
		</membership>
		<roleManager enabled="true" />
		<!--
		<roleManager enabled="true"
                 defaultProvider="ActiveDirRP">
			<providers>
				<clear/>
				<add applicationName="roadkill"
					name="ActiveDirectoryRoleProvider"
					type="Roadkill.Core.ActiveDirectoryRoleProvider,RoadKill.Core"
					activeDirectoryConnectionString="ADRPConnectionString"
					groupMode="Additive"
					groupsToUse="IT, Customer Service"
					groupsToIgnore="Senior Management"
					usersToIgnore="asmith, ksose"/>
			</providers>
		</roleManager>
		-->
	</system.web>

	<appSettings>
		<add key="Roadkill-ShowHeader" value="true"/>
		<add key="Roadkill-AdminPassword" value="5BAA61E4C9B93F3F0682250B6CF8331B7EE68FD8"/>
		<add key="Roadkill-Installed" value="true"/>
		<add key="Roadkill-AttachmentsFolder" value="Attachments" />
		<add key="Roadkill-AdminGroup" value="Admins"/>
	</appSettings>

	<connectionStrings>
		<add name="Roadkill" connectionString="database=Roadkill;server=.\SQLEXPRESS;integrated security=SSPI;"/>
		<!--
		<add name="ADRPConnectionString" connectionString="LDAP://DC=Domain,DC=com"/>
		<add name="Roadkill" connectionString="Server=.\SQLExpress;AttachDbFilename=|DataDirectory|\roadkill.mdf;Integrated Security=True;User Instance=True"/>
		-->
	</connectionStrings>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

