.vs/
Roadkill.vssscc
src/Roadkill.Core/obj/
src/Roadkill.Tests/obj/
src/Roadkill.Web/App_Data/Internal/Search/
src/Roadkill.Web/Properties/PublishProfiles/FolderProfile.pubxml.user
src/Roadkill.Web/Roadkill.Web.csproj.user
src/Roadkill.Web/bin/
src/Roadkill.Web/obj/
src/Roadkill.Core/bin/
src/Roadkill.Web/Assets/Scripts/roadkill/dialogs.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/editpage/editpage.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/editpage/wysiwygeditor.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/filemanager/ajaxrequest.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/filemanager/breadcrumbtrail.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/filemanager/buttonevents.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/filemanager/htmlbuilder.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/filemanager/setup.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/filemanager/tableevents.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/filemanager/util.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/installer/installwizard.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/installer/step1.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/installer/step2.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/installer/step3Db.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/installer/step3WindowsAuth.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/installer/step4.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/installer/step5.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/setup.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/sitesettings/settings.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/typescript-ref/constants.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/typescript-ref/directoryviewmodel.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/typescript-ref/filemanager.references.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/typescript-ref/filemodel.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/typescript-ref/installerconstants.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/typescript-ref/references.js.map
src/Roadkill.Web/Assets/Scripts/roadkill/validation.js.map
src/Roadkill.Web/connectionStrings.config
src/Roadkill.Web/node_modules/
src/Roadkill.Web/App_Data/Attachments/
src/Roadkill.Web/App_Data/Export/
src/Roadkill.Web/Roadkill.Web.csproj.vspscc
src/Roadkill.Web/raphael/
src/Roadkill.Core/Roadkill.Core.csproj.user
src/Roadkill.Core/Roadkill.Core.csproj.vspscc