body			{ font-family:"Palatino Linotype", Calluna-Exljbris, Georgia, "Times New Roman", Times, serif;margin:0px;color:#000000; }
h1,h2,h3,h4,h4	{ font-family:"Palatino Linotype", Calluna-Exljbris, Georgia, "Times New Roman", Times, serif; }
h1				{ border-bottom:1px solid #032451; }
a				{ color:#333333; }
a:hover			{ color:#babfb5; }
pre				{ overflow:scroll; }
#header			{ text-align:center; }
#container		{ width:750px; }
#inner			{ text-align:left;padding:10px;margin:15px; }
#footer			{ text-align:center;margin-top:50px;border-top:1px solid #000; }