<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
  </configSections>
  <roadkill 
	  adminRoleName="Admin-test" 
	  attachmentsFolder="/Attachments-test"
	  useObjectCache="true"
	  useBrowserCache="true" 
	  connectionStringName="Roadkill"
	  dataStoreType="MongoDB" 
	  editorRoleName="Editor-test"
	  ignoreSearchIndexErrors="true"
	  installed="true" 
	  isPublicSite="false"
	  ldapConnectionString="ldapstring-test"
	  ldapUsername=""
	  ldapPassword=""
	  resizeImages="true"
	  userServiceType=""
	  useHtmlWhiteList="false"
	  useWindowsAuthentication="false" />
  <connectionStrings>
    <add name="Roadkill" connectionString="mongodb://user:pwd@localhost" />
  </connectionStrings>
</configuration>