<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
  </configSections>
  <roadkill 
	  adminRoleName="empty"
	  attachmentsRoutePath="empty"
	  attachmentsFolder="empty"
	  useObjectCache="false"
	  useBrowserCache="false" 
	  connectionStringName="empty"
	  dataStoreType="empty" 
	  editorRoleName="empty"
	  ignoreSearchIndexErrors="false"
	  installed="false" 
	  isPublicSite="false"
	  ldapConnectionString="empty"
	  ldapUsername="empty"
	  ldapPassword="empty"
	  logging="None"
	  logErrorsOnly="false"
	  repositoryType="empty"
	  resizeImages="true"
	  userServiceType="empty"
	  useHtmlWhiteList="false"
	  useWindowsAuthentication="false" 
	  version="empty" />
  <connectionStrings>
    <add name="Roadkill-test" connectionString="empty" />
  </connectionStrings>
</configuration>