<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
	</configSections>
	<!-- (missing connectionStringName="Roadkill-test" -->
	<roadkill
		adminRoleName="Admin-test"
		attachmentsFolder="~/Attachments-test"
		useObjectCache="true"
		useBrowserCache="true"
		
		dataStoreType="SQLite-test"
		editorRoleName="Editor-test"
		ignoreSearchIndexErrors="true"
		installed="true"
		isPublicSite="false"
		ldapConnectionString="ldapstring-test"
		ldapUsername="ldapusername-test"
		ldapPassword="ldappassword-test"
		resizeImages="true"
		userServiceType="SqlUserManager-test"
		useWindowsAuthentication="false" />
	<connectionStrings>
		<add name="Roadkill-test" connectionString="connectionstring-test" />
	</connectionStrings>
</configuration>