<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
  </configSections>
  <roadkill 
	  adminRoleName="Admin-test"
	  attachmentsRoutePath="AttachmentsRoutePathTest"
	  attachmentsFolder="/Attachments-test"
	  useObjectCache="true"
	  useBrowserCache="true" 
	  connectionStringName="Roadkill-test"
	  dataStoreType="SQLite" 
	  editorRoleName="Editor-test"
	  ignoreSearchIndexErrors="true"
	  installed="true" 
	  isPublicSite="false"
	  ldapConnectionString="ldapstring-test"
	  ldapUsername="ldapusername-test"
	  ldapPassword="ldappassword-test"
	  logging="All"
	  logErrorsOnly="false"
	  repositoryType="Repository-test"
	  resizeImages="true"
	  userServiceType="DefaultUserManager-test"
	  useHtmlWhiteList="false"
	  useWindowsAuthentication="false" 
	  version="1.8.0" />
  <connectionStrings>
    <add name="Roadkill-test" connectionString="connectionstring-test" />
  </connectionStrings>
</configuration>