body	{ font-family: sans-serif;background:url('pagebg.png');font-size: 0.8em;margin:0;padding:0;}
h1		{ font-size: 1.6em;}
h1,h2,h3,h4,h5 { border-bottom: 1px solid #AAA;}

a		{ text-decoration: none;color: #0645AD;}
a:hover, a:focus { text-decoration: underline;}

#headfade
{
	background-color: White;
	width: 100%;
	height:5em;
	background-image: url('page-fade.png');
	background-position: bottom left;
	background-repeat: repeat-x;

}
#loggedinas, #search
{
	float:right;
	padding:5px;
	top:0;
	line-height:2em;
}

#search input
{
	float:left;
}
#searchbutton
{
	background-color: transparent;
	cursor: pointer;
	border:0 none;
	margin-left: -2em;
	margin-top:0.25em;
	float:left;
}

#headborder
{
	height:5em;
	background-image: url('border.png');
	background-position: left bottom;
	background-repeat: repeat-x;
	margin-left: 12em;
    margin-top: -5em;
}

#logo 
{
	position: absolute;
	top: 0;
	left: 7;
	padding:0;
}

#viewhistory { float:right;}

#panel
{
	position: absolute;
	top: 130px;
	width: 10em;
	left: 0;
}

#panel ul
{
	padding-left:1.5em;
}

#panel ul li 
{
	list-style: none;
	list-style-image: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#container
{
	padding: 1em;
	margin-left: 12em;
	background-image: url('border.png');
	background-position: left top;
	background-repeat: repeat-y;
	background-color: white;
	color: black;
	direction: ltr;
	min-height:30em;
}

#content
{

}

#footer
{
	background-image: url('border.png');
    background-position: left top;
    background-repeat: repeat-x;
    direction: ltr;
    margin-left: 12em;
    margin-top: 0;
    padding: 0.75em;
}

#footer p
{
	color: #333;
	font-size: 0.7em;
}

#tagcloud 
{ 
	margin: 0;
	padding: 2px; 
	line-height: 3em; 
	border:1px solid #e3e2e2;
	padding:10px; 
}
#tagcloud li { display: inline; }
#tagcloud a { padding: 0px; }
.tagcloud1 { font-size:1em;}
.tagcloud2 { font-size:1.2em;}
.tagcloud3 { font-size:1.3em;}
.tagcloud4 { font-size:1.5em;}
.tagcloud5 { font-size:2em;}