#viewhistory	{ display: none !important; }
#toolbar		{ display: none !important; }
#headfade		{ display: none !important; }
#logo			{ display: none !important; }
#panel			{ display: none !important; }
#leftmenu		{ display: none !important; }
#footer			{ display: none !important; }
#container		{ border: 0px !important; margin-left: 0px !important; }