<div id="markup-help-dialog" class="modal" role="dialog" aria-describedby="Shows the dialog for markup text help.">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="default-header">Markup help</h3>
			</div>
			<div class="modal-body">
				<div class="modal-body-container"></div>
			</div>
			<div class="modal-footer">
				<a href="#" data-dismiss="modal" class="btn btn-primary">Close</a>
			</div>
		</div>
	</div>
</div>