<!-- NLog logging -->
<!-- Built in targets for Roadkill are: file, console, logentries. Add your own here if you need. -->
<nlog>
	<targets>
		<!-- Example target:
			<target name="n1" xsi:type="Chainsaw" address="udp://127.0.0.1:877" />
			-->
	</targets>

	<rules>
		<!-- Example of adding your own logging: 
			<logger name="Roadkill" minlevel="Info" writeTo="n1" />
			-->
	</rules>
</nlog>