<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- Built in targets for Roadkill are: file, console, logentries. Add your own here if you need. -->
		<!-- Example:
		<target name="n1" xsi:type="Chainsaw" address="udp://127.0.0.1:877" />
		-->
	</targets>

	<rules>
		<!-- Example of adding your own logging: 
		<logger name="Roadkill" minlevel="Info" writeTo="n1" />
		-->
	</rules>
</nlog>