<?xml version="1.0" encoding="utf-8" ?>
<roadkill
	adminRoleName="Admin"
	attachmentsFolder="~/App_Data/Attachments"
	useObjectCache="false"
	useBrowserCache="false"
	logging="none"
	logErrorsOnly="true"
	connectionStringName="Roadkill"
	dataStoreType="SqlServer2012"
	editorRoleName="Editor"
	installed="false"
	isPublicSite="true"
	useWindowsAuthentication="false"
	version="1.8.0.0"
/>