<?xml version="1.0" encoding="utf-8" ?>
<roadkill adminRoleName="Admin" attachmentsFolder="~/App_Data/Attachments"
 useBrowserCache="true" connectionStringName="Roadkill" dataStoreType="SqlServerCe"
 editorRoleName="Editor" ignoreSearchIndexErrors="true" installed="true"
 logging="log2console" logErrorsOnly="false" useWindowsAuthentication="false" version="1.8.0-alpha" />