<?xml version="1.0"?>

<!-- This config is the same as the download config -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<customErrors mode="On" xdt:Transform="Replace"/>
	</system.web>

	<connectionStrings configSource="connectionStrings.config" xdt:Transform="Replace" />
</configuration>