<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- Demo site settings -->
	<roadkill adminRoleName="Admin"
				attachmentsFolder="~/App_Data/Attachments"
				useObjectCache="true"
				useBrowserCache="true"
				connectionStringName="Roadkill"
				dataStoreType="SqlServer2008"
				editorRoleName="Editor"
				logging="logentries"
				logErrorsOnly="true"
				installed="true"
				ignoreSearchIndexErrors="true"
				useWindowsAuthentication="false"
				version="1.6.0.0"
				xdt:Transform="Replace" />

	<system.web>
		<customErrors mode="On" xdt:Transform="Replace"/>
		<compilation debug="false" xdt:Transform="Replace"/>
	</system.web>

	<connectionStrings xdt:Transform="Replace" configSource="discountasp.config" />
	<appSettings xdt:Transform="Replace" configSource="discountasp.appsettings.config" />
</configuration>