<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
	</configSections>
	<roadkill adminRoleName="Admin" attachmentsFolder="C:\temp\roadkillattachments" useObjectCache="false" useBrowserCache="false" 
			  logging="textfile" logErrorsOnly="false" connectionStringName="Roadkill" dataStoreType="SqlServerCe" editorRoleName="Editor" installed="true" isPublicSite="true" useWindowsAuthentication="false" version="1.6.1.0" />
	<connectionStrings>
		<add name="Roadkill" connectionString="Data Source=|DataDirectory|\roadkill-acceptancetests.sdf;" />
	</connectionStrings>
	<system.web>
		<!-- Change the line below to the culture you need, it falls back to English -->
		<globalization uiCulture="auto" culture="auto" />
		<anonymousIdentification enabled="true" />
		<authentication mode="Forms">
			<forms loginUrl="~/User/Login" />
		</authentication>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
				<add namespace="Roadkill.Core" />
			</namespaces>
		</pages>
		<httpRuntime requestValidationMode="2.0" />
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<!-- To add custom mimetypes, edit the mimetypes file-->
		<!--<staticContent configSource="mimetypes.config" />-->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.6.4.0" newVersion="6.6.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.84.0" newVersion="1.0.84.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!-- Change these settings for signup and lost password emails -->
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="signup@roadkillwiki.net">
				<specifiedPickupDirectory pickupDirectoryLocation="~/App_Data/TempSmtp" />
				<!-- Roadkill caters for relative paths in the drop folder -->
			</smtp>
		</mailSettings>
	</system.net>
</configuration>