<?xml version="1.0"?>

<!-- This config is for new versions to download -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<roadkill adminRoleName="Admin"
			  attachmentsFolder="~/Attachments"
			  cacheEnabled="true"
			  cacheText="true"
			  connectionStringName="Roadkill"
			  databaseType="SqlServer2005"
			  editorRoleName="Editor"
			  installed="false"
			  useWindowsAuthentication="false"
			  version="1.6.0"
			  xdt:Transform="Replace" />

	<system.web>
		<customErrors mode="On" xdt:Transform="Replace"/>
	</system.web>

	<connectionStrings xdt:Transform="Replace">
		<add name="Roadkill" connectionString="" />
	</connectionStrings>
</configuration>