<?xml version="1.0"?>

<!-- Use this build for new versions for download, as Appharbor uses the release build. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<roadkill adminRoleName="Admin"
			  attachmentsFolder="~/Attachments"
			  cacheEnabled="true"
			  cacheText="true"
			  connectionStringName="Roadkill"
			  databaseType="SqlServer2005"
			  editorRoleName="Editor"
			  installed="false"
			  useWindowsAuthentication="false"
			  xdt:Transform="Replace" />

	<system.web>
		<customErrors mode="On" xdt:Transform="Replace"/>
	</system.web>

</configuration>