@{
	if (ApplicationSettings.Installed)
	{
		Layout = SiteSettings.ThemePath + "/Theme.cshtml";
	}
}
<!DOCTYPE html>
<html>
<head>
	<title>404 not found</title>
</head>
<body>
	<h2>
		404 Not Found
	</h2>

	<p>
		The page or resource you are looking for could be found on the server.
	</p>
</body>
</html>