@model PageSummary
@{ 
	ViewBag.Title = Model.Title;
}

@section PageToolbar
{  
	@* This is rendered by an action (and not a partial/extension method) for future donut caching *@
	@Html.Action("PageToolBar", "Wiki", new { id = Model.Id })
}

<h1 class="pagetitle">@Model.Title</h1>

<div id="pagecontent">
@MvcHtmlString.Create(Model.ContentAsHtml)
</div>