@model PageSummary
@{ 
	ViewBag.Title = Model.Title;
}
@section PageToolbar
{  
	@Html.Action("PageToolBar", "Wiki", new { id = Model.Id }, true)
}

<h1 class="pagetitle">@Model.Title</h1>

<div id="pagecontent">
@MvcHtmlString.Create(Model.ContentAsHtml)
</div>