/* 
This contains the shared Roadkill installer CSS definitions, used on all installer pages.

The formatting style of this CSS file is:
	* Single line definitions.
	* Tab aligned, grouped definitions.
	* Space after each ";"
	* Space before and after curlies. 
	* No space after ":". 
	* This file is minified at runtime, so comments are welcomed.
*/

body		{ text-align:center;margin:10px auto;}
h1			{ font-size:24px; }
h3			{ display:inline;-webkit-text-shadow: 0 1px rgba(255, 255, 255, 0.9); text-shadow: 0 1px rgba(255, 255, 255, 0.9);}
a			{ color:Black;}
.previous	{ float:left;padding:10px;font-weight:bold;}

#installer	{ font-family: 'Helvetica Neue',Arial,sans-serif; letter-spacing: .01em; font-size:14px; width:1024px; min-height:700px; margin:auto; }
#language	{ font-size:1.5em; list-style:none; margin-left: 40%; }
#language li { margin-bottom: 5px;text-align:center; padding: 5px; width:6em; }
#language a { color:#2f2f2f; text-decoration:none; }
#language a:hover { text-decoration:underline; }
#container	{ margin:50px 50px 20px 50px;width:900px;text-align:left; }
#trail		{ color:#616161;list-style-type:none;display:block;clear:both;margin:auto;font-size:16px;-webkit-text-shadow: 0 1px rgba(255, 255, 255, 0.9); text-shadow: 0 1px rgba(255, 255, 255, 0.9); }
#trail li	{ float:left;text-align:right;display:block;margin-right:50px; }
.selected	{ font-weight:bold;color:#b30f10; }
.page		{ border-top:1px solid black;margin-top:5px;padding-top:15px;}
.page p		{ padding:10px 0; }

/* Database connection strings */
.example	{ cursor:pointer; font-family:Monospace; font-size:0.8em;}

.hidden		{ display:none; }
.rounded	{ border-radius: 5px; }
.errormessage	{ font-family: "Courier new",sans-serif;display:block; }
.small			{ font-size: 0.7em; }
.textbox input	{ min-width:350px;padding:5px;margin:5px 0; }
.clear		{ clear:both;}
.left		{ float:left;}
.italic		{ font-style:italic;}
#sqlite-help { background-color: #D1E0F0; }
#sqlite-details { padding: 0px;}