body			{ font-family:"Myriad Web Pro",helvetica;margin:0px;color:#000000; }
h1,h2,h3,h4,h4	{ font-family:"Myriad Pro",helvetica;border-bottom:1px solid #AAA;width:60%; }
a				{ color:#333333; }
a:hover			{ color:#babfb5; }

#header			{ background-color:#38381D;width:100%;height:32px;color:#FFF;font-family:"Myriad Web Pro",helvetica;font-size:0.8em; }
#header div		{ margin:0 10px;color:White;height:32px;line-height:33px;margin-right:20px; }
#header	a		{ color:White;text-decoration:none; }
#header	a:hover { text-decoration:underline; }
#header input	{ font-family:Arial,helvetica;font-size:0.9em; }

#container			{ margin:20px; }
#pagecontent img	{ border:0px; }

#login				{ padding:10px;width:550px; }
#login label		{ float:left;width:150px;padding:5px 5px 0 0;font-weight:bold; }
.username input		{ width:390px; }
.password input		{ width:390px; }

.searchresults		{ color:Green;font-size:1.1em; }
.searchbox			{ width:400px; }

div.image_frame { border: 1px solid gray; display: inline-block; padding: 4px; }
div.image_frame .caption { border: 1px solid #E0E0E0; padding: 4px; }

div.floatleft, table.floatleft { border: 0 none; margin: 0 0.5em 0.5em 0; }
div.floatright, table.floatright, div.floatleft, table.floatleft { position: relative; }
div.floatleft, table.floatleft { clear: left; float: left; }

div.floatright, table.floatright { border: 0 none;margin: 0 0 0.5em 0.5em; }
div.floatright, table.floatright, div.floatleft, table.floatleft { position: relative; }
div.floatright, table.floatright { clear: right; float: right; }

.center * { margin-left: auto; margin-right: auto; }
.center { text-align: center; width: 100%; }