<div id="choose-image-dialog" class="modal" role="dialog" aria-describedby="Shows the dialog for choosing an image">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="default-header">Choose an image</h3>
			</div>

			<div class="modal-body">
				<div class="modal-body-container"></div>
			</div>

			<div class="modal-footer">
				<a href="#" data-dismiss="modal" class="btn">Cancel</a>
			</div>
		</div>
	</div>
</div>