<div id="previewContainer" class="modal" role="dialog" aria-describedby="Shows the dialog for previewing a page.">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="default-header">@SiteStrings.EditPage_Preview</h3>
			</div>

			<div class="modal-body">
				<div id="preview"></div>
			</div>
		</div>
	</div>
</div>