#header-wrapper		{ display: none !important; }
.searchbar			{ display: none !important; }
.modal				{ display: none !important; }
#top-link			{ display: none !important; }
#viewhistory		{ display: none !important; }
#powered-by			{ display: none !important; }
#container			{ border: 0px !important; margin-left: 0px !important; }