@model System.Web.Mvc.HandleErrorInfo
@{
	if (RoadkillSettings.Installed)
	{
		Layout = RoadkillSettings.ThemePath + "/Theme.cshtml";
	}
}


<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
</head>
<body>
	<h2>
		Sorry, an error occurred while processing your request.
	</h2>

	@if (RoadkillContext.Current.IsAdmin)
	{
	<p>@Model.Exception.Message</p>
	<pre>@Model.Exception.StackTrace</pre>
	 }
</body>
</html>