<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
		<section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap" />
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" />
	</startup>
	<roadkill adminRoleName="Admin" attachmentsFolder="~/Attachments" useObjectCache="true" useBrowserCache="true" connectionStringName="Roadkill" dataStoreType="SQLite" editorRoleName="Editor" ignoreSearchIndexErrors="true" installed="true" isPublicSite="false" ldapConnectionString="ldapstring" ldapUsername="ldapusername" ldapPassword="ldappassword" logging="none" logErrorsOnly="true" resizeImages="true" useWindowsAuthentication="false" />
	<connectionStrings>
		<add name="Roadkill" connectionString="Data Source=roadkill-integrationtests.sqlite;" />
	</connectionStrings>
	<!-- Use these settings for Windows auth tests -->
	<!--<appSettings>
		<add key="url" value="http://localhost" />
		<add key="useWindowsAuth" value="true" />
	</appSettings>-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.6.1.12217" newVersion="2.6.1.12217" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebDriver" publicKeyToken="1c2bd1631853048f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.31.2.0" newVersion="2.33.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebDriver.Support" publicKeyToken="1c2bd1631853048f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.31.2.0" newVersion="2.33.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.6.5.0" newVersion="6.6.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.86.0" newVersion="1.0.86.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>