@model IEnumerable<TagSummary>
@{ 
	ViewBag.Title = "All page tags";
}
<h1>All Tags</h1>

<ul id="tagcloud" class="rounded10">
@foreach (TagSummary tag in Model)
{
	<li class="@Html.ClassNameForTagSummary(tag)">
	@Html.ActionLink(tag.Name,"Tag",new { id = tag })
	</li>
}
</ul>