@model IEnumerable<PageSummary>
@{ 
	ViewBag.Title = "All pages created by " + ViewData["Username"];
}
<h1>All pages created by @ViewData["Username"]</h1>

<table id="userpagetable">
	@foreach (PageSummary summary in Model)
	{
	<tr>
		<td class="title">@Html.ActionLink(summary.Title,"Index","Wiki",new { id = summary.Id,title=Url.EncodeTitle(summary.Title)},null)</td>
		@if (RoadkillContext.Current.IsLoggedIn)
		{
		<td class="edit">@Html.ActionLink("Edit","Edit",new { id = summary.Id} )</td>
		<td class="delete">@Html.ActionLink("Delete","Delete",new { id = summary.Id} )</td>
		}
	</tr>
	}
</table>