@model PageSummary
@{ 
	ViewBag.Title = "Version " +Model.VersionNumber;
}

@Html.ActionLink("< back","History",new { id = Model.Id })
<h1>@Model.Title</h1>


<div id="diff-pagecontent">
 @MvcHtmlString.Create(Model.Content)
</div>