<?xml version="1.0" encoding="utf-8" ?>
<roadkill adminRoleName="Admin" attachmentsFolder="~/App_Data/Attachments"
 connectionStringName="Roadkill" dataStoreType="SqlServer2008"
 editorRoleName="Editor" ignoreSearchIndexErrors="true" installed="true"
 logging="none" useWindowsAuthentication="false" useObjectCache="false"
 version="2.0.275" />