<?xml version="1.0"?>

<!-- This config is for new versions to download -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation debug="false" xdt:Transform="Replace"/>
	</system.web>

	<connectionStrings configSource="connectionStrings.config" xdt:Transform="Replace" />
</configuration>