@model SettingsSummary
@{
	Layout = "~/Views/Install/Layout.cshtml";
}

<script type="text/javascript">
$(document).ready(function()
{
	setPage(1);

	$("#testwebconfig").click(function ()
	{
		hideAlerts();

		$.get("@(Url.Action("TestWebConfig"))",function(data)
		{
			if (data.Success)
			{
				showSuccess("#webconfig-success");
				$(".continue").show();
			}
			else
			{
				
				showFailure("#webconfig-failure",data.ErrorMessage);
			}
		});
	});
});
</script>

<p>Thank for you downloading Roadkill .NET Wiki engine. The installer writes the settings you enter here to the web.config file
(and also the database).
</p>
	
<p>
In order to proceed, first we need to test if you have write access to the web.config file.
</p>

<input id="testwebconfig" class="button" type="button" value="Test" />
<br /><br />
	
<div id="webconfig-success" class="success alert hidden">
	<h2>Success!</h2>
	<p>The web.config can be written to.</p>
</div>

<div id="webconfig-failure" class="failure alert hidden">
	<h2>Failure!</h2>
	<p>Unable to write to the web.config file: <span class="errormessage"></span></p>
</div>

<div class="continue hidden">@Html.ActionLink("Continue >","Step2")</div>