<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
        <staticContent>
			<!-- Cache assets for 28 days. Unlike Apache's mod_cache, IIS can't do this based on the last write time of the file, which is why this uses the maxage -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="28.00:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
