<ul id="settingsmenu" class="settingsmenu">
	<li>@Html.ActionLink(SiteStrings.SiteSettings_Configuration, "Index")</li>
	<li>|</li>
	<li>@Html.ActionLink(SiteStrings.SiteSettings_Users, "Users")</li>
	<li>|</li>
	<li>@Html.ActionLink(SiteStrings.SiteSettings_Tools, "Tools")</li>
</ul>
<br /><br />
