<div id="settingsmenu">
	@Html.ActionLink(SiteStrings.SiteSettings_Configuration,"Index")&nbsp;&nbsp;|&nbsp;&nbsp;
	@Html.ActionLink(SiteStrings.SiteSettings_Users,"Users")&nbsp;&nbsp;|&nbsp;&nbsp;
	@Html.ActionLink(SiteStrings.SiteSettings_Tools,"Tools")
</div>
<br /><br />