@model List<string>
@{
	Layout = "~/Views/Shared/_Blank.cshtml";
}

<h2>Upload a file</h2>
@using (Html.BeginForm("UploadFile", "Page", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.Hidden("id",ViewData["id"])
	<input type="file" id="uploadFile" name="uploadFile"/>
	<input type="submit" value="Upload"/>
}

<h2>Choose a file</h2>

<table>
@foreach (string file in Model)
{
	<tr>
		<td><a href="javascript:setFile('@ViewData["AttachmentPath"]','@file')">@file</a></td>
		<td>@Html.ActionLink("Delete","DeleteFile",new { pageId=ViewData["id"],filename = file} )</td>
	</tr>
}
</table>