@model IEnumerable<PageSummary>

<h1>All pages created by @ViewData["Username"]</h1>

<table>
	@foreach (PageSummary summary in Model)
	{
	<tr>
		<td>@Html.ActionLink(summary.Title,"Index",new { id = summary.Title.Replace(" ","-")} )</td>
		@if (RoadkillContext.Current.IsLoggedIn)
		{
		<td>@Html.ActionLink("Edit","Edit",new { id = summary.Id} )</td>
		<td>@Html.ActionLink("Delete","Delete",new { id = summary.Id} )</td>
		}
	</tr>
	}
</table>