@model List<PageSummary>
@{ 
	ViewBag.Title = "All pages for " + ViewData["Tagname"];
}
<h1>All pages for '@ViewData["Tagname"]'</h1>

<table id="pagestable">
	@foreach (PageSummary summary in Model)
	{
		<tr>
			<td class="title">@Html.ActionLink(summary.Title, "Index", new { id = summary.Id })</td>
			@if (RoadkillContext.Current.IsLoggedIn)
			{
			<td class="edit">@Html.ActionLink("Edit","Edit",new { id = summary.Id} )</td>
			}
		</tr>
	}
</table>