<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<!-- Block all DLLs from being served, and views -->
		<handlers>
			<remove name="BlockViewHandler" />
			<add name="BlockViewHandler" path="*.cshtml" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
			<add name="DenyAssemblyFiles"
				 path="*.dll"
				 verb="*"
				 type="System.Web.HttpForbiddenHandler"
				 preCondition="integratedMode" />

			<remove name="BlockViewHandler" />
			<add name="BlockViewHandler" path="*.cshtml" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
		</handlers>
		<!-- Cache theme assets for 28 days. Unlike Apache's mod_cache, IIS can't do this based on the last write time of the file, which is why this uses the maxage -->
		<staticContent>
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="28.00:00:00" />
		</staticContent>
	</system.webServer>
</configuration>