/* ***************************************
** Diff related styles
*****************************************/

#diff-pagecontent table {
    border:1px solid #d9d9d9;
}

#diff-pagecontent td {
    border:1px solid #d9d9d9;
    padding:3px;
}

#diff-pagecontent ins {
	background-color: #cfc;
	text-decoration:inherit;

}

#diff-pagecontent del {
	color: #999;
	background-color:#FEC8C8;
}

#diff-pagecontent ins.mod {
    background-color: #FFE1AC;
}