@import url("jquery.ui.autocomplete.custom.css");	/* used for tagit */
@import url("jquery.tagit.css");					/* used for tagit */
@import url("htmldiff.css");						/* used for version history diffs*/

/* General classes */
.biggest		{ font-size:1.5em; }
.bigger			{ font-size:1.2em; }
.big			{ font-size:1.1em; }
.bold			{ font-weight:bold; }
.blueborder		{ border:1px solid #032451; }
.borderbottom	{ border-bottom:1px solid #032451; }
.boringbutton	{ height:23px; min-width:75px; }
.button			{ background:#032451;border:1px solid #000;color:#FFF;font-weight:bold;cursor:pointer;min-width:100px;font-size: 14px;font-weight: normal;padding:8px 20px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px; }
.button:focus	{ border:2px solid #99b3d4;}
.clear			{ clear:both; }
.center			{ display:block;margin-left:auto; margin-right:auto; }
.dimmed			{ opacity:0.5; }
.green			{ color:Green; }
.hidden			{ display:none; }
.italic			{ font-style:italic; }
.left			{ float:left; }
.lightborder	{ border:1px solid #e3e2e2; }
.linkbutton		{ border:1px solid #d3d2d2;padding:3px;font-size:0.8em; }
.linkbutton	a	{ color:black;text-decoration:none; }
.midpadded		{ padding:5px; }
.normal			{ font-size:1em; }
.padded			{ padding:10px; }
.right			{ float:right; }
.rounded		{ -moz-border-radius:2px;border-radius:2px; }
.rounded5		{ -moz-border-radius:5px;border-radius:5px; }
.rounded10		{ -moz-border-radius:10px;border-radius:10px; }
.small			{ font-size:0.9em; }
.smaller		{ font-size:0.8em; }
.smallest		{ font-size:0.7em; }
.smallerbutton	{ background:#032451;border:1px solid #000;color:#FFF;font-weight:bold;cursor:pointer;font-size:0.9em;width:75px;padding:3px 10px;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px; }
.smallestbutton	{ background:#032451;border:1px solid #000;color:#FFF;font-weight:bold;font-size:0.8em; }

/* Modal dialog styles for jquery.simplemodal */
#simplemodal-overlay	{ background-color:#000; }
#simplemodal-container	{ background-color:#333;border:2px solid #d3d2d2; padding:12px; }
#simplemodal-container a.modalCloseImg { background:url('close-x.png') no-repeat;width:25px;height:29px;display:inline;z-index:3200;position:absolute;top:-15px;right:-18px;cursor:pointer;}

/* Toolbar for logged in users */
#toolbar			{ margin:5px 0px 0px 5px;padding:2px; }
#editbutton			{ float:left; }
#newpage			{ float:left; }
#pagehistory-button	{ float:left;margin-left:5px; }
#pageinfo-button	{ float:left;margin:4px 0px 0px 5px; }
#pageinformation	{ display:none;color:#FFF;min-width:400px;width:400px; } /* width is explicit for an IE7 bug */
#pageinformation h3 { border-bottom:1px solid #EEE;margin:0px; }
#pageinformation .tags		{ padding:4px;margin-top:10px; }
#pageinformation .tagblock	{ border:1px solid #656464;background-color:#212121;color:#b8b7b7;margin-right:3px;padding:3px; }

/* Login,profile,reset password pages */
#profile		{ background-color:#EFEFEF;width:35em;padding:1em; }
#login			{ background-color:#EFEFEF;width:25em;padding:1em; }
#resetpassword	{ background-color:#EFEFEF;width:30em;padding:1em; }
.userlabel		{ float:left;margin:0 5px 0 0;padding:5px 0 0 0;font-weight:bold; }
.usertextbox	{ float:right;width:15em;display:block; padding:0.25em; margin:0 0 10px 0;color:#3A3A3A; }
#userbutton		{ float:right; }

/* Search result page */
.searchresult			{}
.searchresult-title		{ color:Black; }
.searchresult-summary	{ font-size:95%; }
.searchresult-date		{ color:green;font-size:97%; }
.searchresult-tags span	{ margin-left:5px; }
.searchresult-tags span a	{ color:#4e6fa3 !important;text-decoration:none; }
.searchresult-tags span a:hover	{ color:#000 !important;text-decoration:underline; }
.searchbox				{ width:20em; }

/* All tags(categories) page */
#tagcloud		{ margin:0px;padding:2px;line-height:3em;border:1px solid #e3e2e2;padding:10px; }
#tagcloud li	{ display:inline; }
#tagcloud a		{ padding:0px;padding:10px; }
.tagblock a		{ text-decoration:none;color:#FFFFFF; }
.tagblock a:hover { text-decoration:none;color:#AAA; }
.tagcloud1		{ font-size:1em; }
.tagcloud2		{ font-size:1.2em; }
.tagcloud3		{ font-size:1.3em; }
.tagcloud4		{ font-size:1.5em; }
.tagcloud5		{ font-size:2em; }

/* Tables */
#pagecontent table,#pagecontent tr,#pagecontent td { border: 1px solid black;padding:2px; }
#userpagetable			 { border:1px solid #d3d2d2;background-color:#f1f0f0; }

/* All pages */
#allpagestable tr		{ padding:5px; }
#allpagestable .title	{ min-width:350px; }
#allpagestable .edit	{ width:50px; }
#allpagestable .delete	{ width:50px; }

/* Used in tags and all pages */
#pagestable			{ border:1px solid #d3d2d2;background-color:#f1f0f0; }
#pagestable tr		{ padding:5px; }
#pagestable .title	{ min-width:350px; }
#pagestable .edit	{ width:50px; }
#pagestable .delete	{ width:50px; }

/* Page history */
#historytable			{ border:1px solid #d3d2d2;background-color:#f1f0f0; }
#historytable thead tr td { font-weight:bold; }
#historytable tr		{ padding:5px; }
#historytable .version	{ width:100px; }
#historytable .editedon	{ min-width:200px; }
#historytable .editedby	{ width:150px; }
#historytable .revert	{ width:100px; }

/* Edit page [editors] */
#previewLoading		{ display:none; }
#previewContainer	{ display:none;background-color:#FFF;height:450px;width:800px; }
#previewContainer #title { background-color:#444;color:#FFF;font-weight:bold;font-size:1.2em;padding:5px; }
#preview			{ padding:10px;border:1px solid #d3d2d2;height:400px;overflow:scroll; }
.jqConfirm			{ font-weight:bold !important; }

#edit				{ width:700px; }
#edit label			{ float:left;width:50px;padding:5px 5px 0 0;font-weight:bold; }
#edit .title input	{ border:1px solid #032451;height:30px;width:555px;padding-left:5px; }
#edit .lockpage		{ margin-left:50px; }
#edit .tagit		{ border:1px solid #032451;height:30px;width:550px;font-family:Arial; }
.edittextarea		{ width:100%;height:300px;border:1px solid #032451; }
.buttonContainer	{ float:right;padding-top:10px;text-align:right; }

.validation-summary-errors { border:1px solid #ffdd00;color:#000;background-color:#fbfcdd;padding:10px;font-size:1em;margin-bottom:10px;max-width:500px;border-radius:5px; }
.validation-summary-errors span {font-weight:bold; }

/* Help iFrame for edit page [editors] */
#help-iframe	{ width:520px;height:300px; }
#helptable		{ width:100%;font:normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;background:#E6EAE9; }
#helptable th	{ text-align:left;font-size:13px;padding:5px; }
#helptable td	{ border-right:1px solid #C1DAD7;border-bottom:1px solid #C1DAD7;background:#fff;padding:6px 6px 6px 12px;color:#4f6b72;vertical-align:top; }

/* File manager [editors] */
#files-container	{ background-color:#FFF;min-height:400px; }
.selectedfolder		{ background-color:#e3e2e2; }
#filetree-container	{ width:500px; }
#file-preview		{ position:fixed;margin-left:5px;width:90px;bottom:0px;right:0px; }
#file-preview img	{ max-height:50px;max-width:50px; }

/* Settings page [admins] */
#settings			{ width:700px;padding:10px; }
#settings label		{ float:left;min-width:300px;line-height:25px;font-size:1em;font-weight:bold; }
#settings .row		{ height:35px; }
#settings .checkbox { margin-top:3px; }
#settings .help		{ margin-left:5px;}
#settings .checkbox input		{ margin:0px; }
#settings .textbox input		{ float:left; border:1px solid #AAA;height:20px;width:350px;font-size:1em;border-radius:5px;padding:5px; }
#settings .smalltextbox input	{ float:left; border:1px solid #AAA;height:20px;width:150px;border-radius:5px;padding:5px; }
#settings .selectbox select		{ border:1px solid #AAA;height:20px;border-radius:5px;padding:5px;height:30px; }

.settingstable			{ border:1px solid #d3d2d2;background-color:#f1f0f0; }
.settingstable tr		{ padding:5px; }
.settingstable .title	{ width:650px; }
.settingstable .edit	{ width:50px; }
.settingstable .delete	{ width:50px; }

#tooltip	{ position: absolute; z-index: 3000; border: 1px solid #111;background-color: #000;color:#DDD; padding: 8px;border-radius:8px; opacity: 0.85; }
#tooltip h3, #tooltip div { margin: 0; }

#userdialogContainer	{ display:none; }
#userdialogContainer	{ color:White;width:360px; }
#userdialogContainer h2	{ border-bottom:1px solid white !important; }
#userdialogContainer label	{ float:left;min-width:150px;line-height:25px;font-size:0.8em;font-weight:bold; }
#userdialogContainer .textbox input	{ width:200px; }

/* CSS styles for replaceable tokens */
.token-warningbox	{ border:1px solid #FCEFA1;padding:5px;background-color:#FBF9EE;border-radius:4px;width:500px; }
.token-alertbox		{ border:1px solid #CD0A0A;padding:5px;background-color:#FEF1EC;border-radius:4px;width:500px; }

/* Table of contents {TOC} */
.toc			{ border:1px solid #AAA; background-color:#F9F9F9; padding:5px 0px;display:table;margin-bottom:15px; }
.toc-title		{ font-weight:bold;text-align:center;min-width:100px; }
.toc-showhide	{ font-weight:normal;font-size:0.8em; }
.toc ul			{ list-style-type:none;padding:2px 5px;margin: 0px 0px 0px 2em;line-height:1.5em; }
.toc-list>ul	{ margin:0px; }

ul.settingsmenu { list-style-type: none;padding-left:0px; }
ul.settingsmenu li { float:left;padding-right:15px; }
ul.settingsmenu li a { font-size:12pt;text-decoration:none;color:navy;font-weight:bold; }
ul.settingsmenu li a:hover { text-decoration:underline; }