@import url("jquery.ui.autocomplete.custom.css");
@import url("jquery.tagit.css");
@import url("htmldiff.css");

.biggest	{ font-size:1.5em; }
.bigger		{ font-size:1.2em; }
.big		{ font-size:1.1em; }
.normal		{ font-size:1em; }
.small		{ font-size:0.9em; }
.smaller	{ font-size:0.8em; }
.smallest	{ font-size:0.7em; }
.bold		{ font-weight:bold; }
.italic		{ font-style:italic; }
.dimmed		{ opacity: 0.5; }
.left		{ float:left; }
.right		{ float:right; }
.rounded	{ -moz-border-radius: 2px; border-radius: 2px; }
.rounded5	{ -moz-border-radius: 5px; border-radius: 5px; }
.rounded10	{ -moz-border-radius: 10px; border-radius: 10px; }
.blueborder { border:1px solid #032451;}
.lightborder { border:1px solid #e3e2e2; }
.clear		{ clear:both;}
.center		{ display: block;margin-left: auto; margin-right: auto;}

#simplemodal-overlay	{ background-color:#000;}
#simplemodal-container	{ background-color:#333; border:2px solid #d3d2d2; padding:12px;}
#simplemodal-container a.modalCloseImg {
	background:url('close-x.png') no-repeat;
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

.linkbutton	{ border:1px solid #d3d2d2;padding:3px;font-size:0.8em;}
.linkbutton	a { color:black;text-decoration:none;}

#login		 { padding:10px;}
#login label { float:left;padding:5px 5px 0 0;font-weight:bold;}
.username input { border:1px solid #032451;font-size:1em;}
.password input { border:1px solid #032451;font-size:1em;}

#toolbar		{ margin: 5px 0px 0px 5px;padding:2px;}
#editbutton		{ float:left;}
#newpage		{ float:left;}
#pagehistory-button	{ float:left;margin-left:5px;}
#pageinfo-button	{ float:left;margin:4px 0px 0px 5px;}
#pageinformation	{ display:none;color:#FFF;min-width:400px;}
#pageinformation h3 { border-bottom:1px solid #EEE;margin:0px;}
#pageinformation .tags     { padding:4px;margin-top:10px; }
#pageinformation .tagblock { border:1px solid #656464;background-color:#212121;color:#b8b7b7;margin-right:3px;padding:3px;}

#previewLoading	{ display:none;}
#previewContainer { display:none;}
#preview { padding:10px;border:1px solid #d3d2d2;}

#edit				{ width:700px;}
#edit label			{ float:left;width:50px;padding:5px 5px 0 0;font-weight:bold;}
#edit .title input	{ border:1px solid #032451;height:30px;width:560px;}
#edit .tagit		{ border:1px solid #032451;height:30px;width:550px;font-family:Arial;}
.edittextarea		{ width:100%;height:300px;border:1px solid #032451;}
.buttonContainer	{ float:right;padding-top:10px;}
.button				{ background:#032451;border:1px solid #000;color:#FFF;font-weight:bold;font-size:1.2em;width:100px;}

.validation-summary-errors { border: 1px solid #000;color:#000;background-color:#FFFFCA;padding:5px;margin-bottom:10px; }


#pagestable { border:1px solid #d3d2d2;background-color:#f1f0f0;}
#pagestable tr { padding:5px;}
#pagestable .title { min-width:350px;}
#pagestable .edit { width:50px;}
#pagestable .delete { width:50px;}

#historytable { border:1px solid #d3d2d2;background-color:#f1f0f0;}
#historytable thead tr td { font-weight:bold; }
#historytable tr { padding:5px;}
#historytable .version { width:100px;}
#historytable .editedon { min-width:200px;}
#historytable .editedby { width:150px;}
#historytable .revert { width:100px;}
	
#userpagetable { border:1px solid #d3d2d2;background-color:#f1f0f0;}
#allpagestable tr { padding:5px;}
#allpagestable .title { min-width:350px;}
#allpagestable .edit { width:50px;}
#allpagestable .delete { width:50px;}