<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="FileTarget" xsi:type="File"
			layout="[${longdate:universalTime=True}] [${level}] ${message}"
			fileName="${basedir}\App_Data\Logs\${shortdate}.log"
			archiveFileName="${basedir}/archives/log.{#}.txt"
			keepFileOpen="false"
			archiveEvery="Day"
			archiveNumbering="Rolling"
			maxArchiveFiles="7" />
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="FileTarget" />
	</rules>
</nlog>