<?xml version="1.0" encoding="utf-8"?>
<!--
	Roadkill logging (NLog 6: https://nlog-project.org/config/). This file is reloaded when it changes.
	${var:contentroot} is the site's root folder (set by Roadkill). Change minlevel to Info or Debug for more details.
-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<targets>
		<target name="FileTarget" xsi:type="File"
			layout="[${longdate:universalTime=True}] [${level}] ${message} ${exception:format=tostring}"
			fileName="${var:contentroot}/App_Data/Logs/${shortdate}.log"
			maxArchiveFiles="7" />
	</targets>

	<rules>
		<logger name="*" minlevel="Warn" writeTo="FileTarget" />
	</rules>
</nlog>
