<?xml version="1.0" encoding="utf-8" ?>
<roadkill
	apiKeys="apikey1,apikey2"
	adminRoleName="Admin"
	attachmentsFolder="~/App_Data/Attachments"
	connectionStringName="Roadkill"
	databaseName="SqlServer2008"
	editorRoleName="Editor"
	installed="true"
	isPublicSite="true"
	useWindowsAuthentication="false"
	useObjectCache="false"
	useBrowserCache="false"
/>