<?xml version="1.0" encoding="utf-8" ?>
<!-- Demo site settings -->
<roadkill adminRoleName="Admin"
	attachmentsFolder="~/App_Data/Attachments"
	useObjectCache="true"
	useBrowserCache="true"
	connectionStringName="Roadkill"
	dataStoreType="SqlServer2008"
	editorRoleName="Editor"
	logging="logentries"
	logErrorsOnly="true"
	installed="true"
	ignoreSearchIndexErrors="true"
	useWindowsAuthentication="false"
	version="1.8.0.0"
	xdt:Transform="Replace" 
/>