<?xml version="1.0" encoding="utf-8"?>
<!-- Roadkill v2.0.275 -->
<configuration>
	<configSections>
		<section name="roadkill" type="Roadkill.Core.RoadkillSection,Roadkill.Core" />
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<roadkill configSource="Roadkill.config"/>
	<connectionStrings configSource="connectionStrings.config" />

	<appSettings>
		<add key="vs:EnableBrowserLink" value="false" />
		<add key="webpages:Enabled" value="false" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="PreserveLoginUrl" value="true" />

		<add key="owin:AutomaticAppStartup " value="false" />
		<add key="owin:appStartup" value="Roadkill.Core.Startup, Roadkill.Core" />
	</appSettings>

	<system.web>
		<!-- Change the line below to the culture you need, it falls back to English -->
		<globalization uiCulture="auto" culture="auto" />
		<anonymousIdentification enabled="true" />
		<authentication mode="Forms">
			<forms loginUrl="~/User/Login" />
		</authentication>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="4.0"
   validateRequest="false"
   pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
   pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
   userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<controls>
				<add assembly="System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
			</controls>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
				
				<add namespace="Roadkill.Core" />
				<add namespace="Roadkill.Core.Mvc.ViewModels" />
				<add namespace="Roadkill.Core.Mvc.Controllers" />
				<add namespace="Roadkill.Core.Mvc.WebViewPages" />
				<add namespace="Roadkill.Core.Configuration" />
				<add namespace="Roadkill.Core.Localization" />
			</namespaces>
		</pages>
		<!-- 
			Max upload size: 50mb (51200 Kb)

			The custom requestPathInvalidCharacters attribute below is for the /Special: mappings
			- Remove ":" from invalid characters
			- "relax the file system" http://haacked.com/archive/2010/04/29/allowing-reserved-filenames-in-URLs.aspx
		-->
		<httpRuntime maxRequestLength="51200" executionTimeout="3600" requestValidationMode="2.0" requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,\,?" relaxedUrlToFileSystemMapping="true" />
		<customErrors mode="RemoteOnly">
			<error statusCode="404" redirect="~/Wiki/NotFound"/>
			<error statusCode="500" redirect="~/Wiki/ServerError"/>
		</customErrors>
	</system.web>

	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="Roadkill.Core.Mvc.WebViewPages.RoadkillViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Linq" />
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Web.Http" />
				<add namespace="System.Web.Http.Description" />

				<add namespace="Roadkill.Core" />
				<add namespace="Roadkill.Core.Security" />
				<add namespace="Roadkill.Core.Extensions" />
				<add namespace="Roadkill.Core.Mvc.ViewModels" />
				<add namespace="Roadkill.Core.Mvc.Controllers" />
				<add namespace="Roadkill.Core.Mvc.WebViewPages" />
				<add namespace="Roadkill.Core.Configuration" />
				<add namespace="Roadkill.Core.Localization" />
				<add namespace="Roadkill.Core.Plugins" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<system.webServer>
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
			<dynamicTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</dynamicTypes>
			<staticTypes>
				<add mimeType="text/*" enabled="true"/>
				<add mimeType="message/*" enabled="true"/>
				<add mimeType="application/javascript" enabled="true"/>
				<add mimeType="*/*" enabled="false"/>
			</staticTypes>
		</httpCompression>
		<urlCompression doStaticCompression="true" doDynamicCompression="true"/>
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers accessPolicy="Read, Script">
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<security>
			<requestFiltering>
				<!-- 50mb upload size (52428800 BYTES) -->
				<requestLimits maxAllowedContentLength="52428800" /> 
			</requestFiltering>
		</security>
		<!-- To add custom mimetypes, uncomment this section: -->
		<!-- e.g.
		<staticContent>
			<mimeMap fileExtension="sql" mimeType="text/plain"/>
		</staticContent>
		-->
	</system.webServer>

	<!-- Change these settings for signup and lost password emails -->
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="SpecifiedPickupDirectory" from="signup@roadkillwiki.net">
				<!-- Roadkill caters for relative (~) paths in the drop folder -->
				<specifiedPickupDirectory pickupDirectoryLocation="~/App_Data/TempSmtp" />
			</smtp>
		</mailSettings>
	</system.net>

	<!-- These redirects are needed for 3rd party modules that reference other versions of the assemblies listed.-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.242.0" newVersion="9.0.242.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>