@model IEnumerable<TextToken>
@{
	Layout = "~/Views/Shared/_Blank.cshtml";
}

<table id="helptable">
	<thead>
		<tr>
		<th colspan="2">
			CREOLE WIKI MARKUP REFERENCE
		</th>
		</tr>
	</thead>
	<tr>
		<td class="bold">Bold</td>
		<td>**bold**</td>
	</tr>
	<tr>
		<td class="bold">Italic</td>
		<td>//italic//</td>
	</tr>
	<tr>
		<td class="bold">Superscript</td>
		<td>^^superscript^^</td>
	</tr>
	<tr>
		<td class="bold">Force a line break</td>
		<td>\\</td>
	</tr>
	<tr>
		<td class="bold">Subscript</td>
		<td>,,subscript,,</td>
	</tr>
	<tr>
		<td class="bold">Ignore wiki markup</td>
		<td>{{{This will not render **bold**}}}</td>
	</tr>
	<tr>
		<td class="bold">Headings</td>
		<td>
			=Heading 1=<br />
			==Heading 2==<br />
			===Heading 3===<br />
			====Heading 4====<br />
			=====Heading 5=====<br />
		</td>
	</tr>
	<tr>
		<td class="bold">Links</td>
		<td>
			Links to [[wiki page]]<br />
			<i>Links to <a href="wiki-page">wiki page</a></i>
			<br /><br />

			Link to [[wiki page|click here]]<br />
			<i>Link to <a href="wiki-page">click here</a></i>
			<br /><br />

			This is [[http://www.yahoo.com|the yahoo page]]<br />
			<i>This is the <a href="wiki-page">yahoo page</a></i>
		</td>
	</tr>
	<tr>
		<td class="bold">Images</td>
		<td>
			{{someimage.jpg}}<br />
			{{someimage.jpg|caption}}
		</td>
	</tr>
	<tr>
		<td class="bold">Bulleted lists</td>
		<td>
			*item1<br />
			*item2<br />
			**item 2b<br />

			<ul>
				<li>item1</li>
				<li>item2</li>
				<li>
					<ul>
						<li>item 2b</li>
					</ul>
				</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="bold">Numbered lists</td>
		<td>
			#item1<br />
			#item2<br />
			##item 2b<br />

			<ol>
				<li>item1</li>
				<li>item2</li>
				</li>
					<ol>
						<li>item 2b</li>
					</ol>
				</li>
			</ol>
		</td>
	</tr>
	@foreach (TextToken token in Model)
	{
	<tr>
		<td class="bold" title="@token.SearchRegex">@MvcHtmlString.Create(token.Name)</td>
		<td>@MvcHtmlString.Create(token.Description)</td>
	</tr>
	 }
	<tfoot>
		<tr>
		<th colspan="2">
			<a href="http://www.wikicreole.org" target="_blank">More information...</a>
		</th>
		</tr>
	</tfoot>
</table>