@model string
@{
	ViewBag.Title = "Reset password successful.";
}

<h1>Reset password successful</h1>

<div class="container pull-left todo-TRANSLATION">
	<div class="row">
		<div class="col-sm-5">
			<div class="alert alert-success">
				Your password was sucessfully reset.
			</div>
		</div>
	</div>
</div>
