@model UserViewModel
@{ 
	ViewBag.Title = SiteStrings.ResetPassword_Invalid_Title;
}

<h1>@SiteStrings.ResetPassword_Invalid_Title</h1>

<div class="container pull-left">
	<div class="row">
		<div class="col-sm-5">
			<div class="alert alert-danger">
				@SiteStrings.ResetPassword_Invalid_Label
			</div>
		</div>
	</div>
</div>