@model UserViewModel
@{ 
	ViewBag.Title = "Reset password invalid";
}

<h1>Reset password invalid.</h1>

<div class="container pull-left todo-TRANSLATION">
	<div class="row">
		<div class="col-sm-5">
			<div class="alert alert-danger">
				The password reset key is no longer valid.
			</div>
		</div>
	</div>
</div>