@model string
@{
	ViewBag.Title = SiteStrings.ResetPassword_Successful_Title;
}

<h1>@SiteStrings.ResetPassword_Successful_Title</h1>

<div class="container pull-left">
	<div class="row">
		<div class="col-sm-5">
			<div class="alert alert-success">
				@SiteStrings.ResetPassword_Successful_Label
			</div>
		</div>
	</div>
</div>
