@{
	MvcHtmlString activeCss = MvcHtmlString.Create(" class=\"active\"");
	MvcHtmlString nav1Active = activeCss;
	MvcHtmlString nav2Active = MvcHtmlString.Empty;
	MvcHtmlString nav3Active = MvcHtmlString.Empty;
	MvcHtmlString nav4Active = MvcHtmlString.Empty;
	
	if (ViewData["UsersActive"] !=  null)
	{
		nav1Active = MvcHtmlString.Empty;
		nav2Active = activeCss;
		nav3Active = MvcHtmlString.Empty;
		nav4Active = MvcHtmlString.Empty;
	}
	else if (ViewData["ToolsActive"] != null)
	{
		nav1Active = MvcHtmlString.Empty;
		nav2Active = MvcHtmlString.Empty;
		nav3Active = activeCss;
		nav4Active = MvcHtmlString.Empty;
	}
	else if (ViewData["CacheActive"] != null)
	{
		nav1Active = MvcHtmlString.Empty;
		nav2Active = MvcHtmlString.Empty;
		nav3Active = MvcHtmlString.Empty;
		nav4Active = activeCss;
	}
}

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
			<li@(nav1Active)>@Html.ActionLink(SiteStrings.SiteSettings_Configuration, "Index")</li>
			<li@(nav2Active)>@Html.ActionLink(SiteStrings.SiteSettings_Users, "Users")</li>
			<li@(nav3Active)>@Html.ActionLink(SiteStrings.SiteSettings_Tools, "Tools")</li>
			<li@(nav4Active)>@Html.ActionLink(SiteStrings.SiteSettings_Configuration_ObjectCaching, "Cache")</li>
		</ul>
	</div>
</div>