@{ 
	ViewBag.Title = SiteStrings.Activate_Title;
}

@Html.ValidationSummary(SiteStrings.Activate_Error_Title)

@if (ViewData.ModelState.IsValid)
{
	<h1>@SiteStrings.Activate_Success_Title</h1>
	<p>
		@SiteStrings.Activate_Label @Html.ActionLink(SiteStrings.Activate_Link, "Login")
	</p>
}