@model UserSummary
@{ 
	ViewBag.Title = "Reset your password";
}

<h1>Reset password</h1>
@Html.ValidationSummary("An error occurred:")

<p>Please enter your new password.</p>
@using (Html.BeginForm())
{
	<fieldset id="resetpassword" class="rounded10 lightborder">
		<label for="Password" class="userlabel">Password:</label>
		@(Html.PasswordFor<UserSummary, string>(t => t.Password, new { @class = "usertextbox" }))
		<br class="clear" />

		<label for="PasswordConfirmation" class="userlabel">Password confirm:</label>
		@(Html.PasswordFor<UserSummary, string>(t => t.PasswordConfirmation, new { @class = "usertextbox" }))	
		<br class="clear" />

		<input type="submit" id="userbutton" class="button" value="Reset password" />
	</fieldset>
}