@model string
@{ 
	ViewBag.Title = "Your password reset request was sent.";
}

<h1>Your password reset request was sent</h1>
<p>Thank you, an email has been sent to @Model with details on how to reset your password.</p>