@model string
@{ 
	ViewBag.Title = SiteStrings.ResetPassword_EmailSent_Title;
}

<h1>@SiteStrings.ResetPassword_EmailSent_Title</h1>
<p>
	@string.Format(SiteStrings.ResetPassword_EmailSent_Label, Model)
</p>