@{ 
	ViewBag.Title = "Reset password";
}

<h1>Reset password</h1>
@Html.ValidationSummary("An error occurred")

<p>Enter your email below to reset your password. You will then receive an email with a link to reset your password.</p>
@using (Html.BeginForm())
{
	<fieldset id="resetpassword" class="rounded10 lightborder">
		<label for="email" class="userlabel">Email:</label>
		@Html.TextBox("email", null, new { @class = "usertextbox" })
		<br class="clear" />

		<input type="submit" id="userbutton" class="button" value="Reset password" />
	</fieldset>
}